@value theme: "./theme.css";
@value color-primary, color-text, color-secondary, color-pop, color-anxiety from theme;
@value font-primary, font-title, font-mono from theme;
@value roundness from theme;

.pageContainer {
    margin: auto;
    width: 680px;
}

.h1 {
    color: color-pop;
    font-family: font-title;
    font-size: 32pt;
    font-variant: small-caps;
}

.h2 {
    color: color-primary;
    font-family: font-title;
    font-size: 24pt;
    font-variant: small-caps;
}

.p {
    color: color-primary;
    font-family: font-primary;
    font-size: 14pt;
}

.label {
    color: color-primary;
    font-family: font-primary;
    font-size: 14pt;
    font-weight: bold;
}

.inputBox {
    height: 40px;
    border: 1px solid color-secondary;
    border-radius: roundness;
    padding: 10px
}

.inputBox:hover {
    border-color: color-pop;
}

.text {
    color: color-primary;

}

.button {
    min-width: 120px;
    border: 2px solid color-primary;
    margin-top: 40px;
    margin-bottom: 40px;
    background: none;
    font-family: font-title;
    font-variant: small-caps;
    font-weight: bolder;
    font-size: 14pt;
    padding: 10px;
    border-radius: roundness;
}
.button:hover {
    background: color-primary;
    color: color-secondary;
    cursor: pointer;
}
.button:active {
    transform: scale(0.9);
    transition: transform 0.1s ease-in-out;
}