@value theme: "../styles/theme.css";
@value color-primary, color-secondary from theme;
@value font-primary from theme;
@value roundness from theme;

.container {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
}

.label {
    color: color-primary;
    font-family: font-primary;
    font-size: 14pt;
    font-weight: bold;
}

.input {
    height: 32px;
    border: 1px solid color-secondary;
    border-radius: roundness;
    padding-left: 10px;
    font-family: font-primary;
}
